*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

.contact-form{
    background-color: #cacaff;
    align-items: center;
    text-align: center;

}

.contact-us{
    width: 80%;
    margin: auto;
    margin-bottom: 30px;
    padding: 10px;
}

.contact-us h3{
    font-size: 36px;
    font-weight: 500;
}
.contact-box{
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
}

.contact-col{
    flex-basis: 60%;
    margin-bottom: 30px;

}

.contact-col div{
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

.contact-col input, .contact-col textarea{
    width: 50%;
    padding: 15px;
    margin-bottom: 17px;
    outline: 0;
    border: 1px solid #070b3a;
    border-radius: 20px;
}

.form button{
    width: 50%;
    background: transparent;
    color: #070b3a;
    padding: 14px 0;
    font-size: 15px;
    font-weight: bold;
    border: 1px solid #060b39;
    border-radius: 20px;
    margin-top: 15px;
    cursor: pointer;
    transition: background 0.3s;
}

.form button:hover{
    background: #060b39;
    color: #cacaff;
}

.contact-us .image{
    width: 50%;
    flex-basis: 40%;
    float: left;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.image img{
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

@media(max-width: 763px) {
    .contact-box{
        display: flex;
        flex-direction: column;
    }


}